.about-section {
  width: 80vw;
  margin-bottom: 10vh;
  line-height: 25px;
  //margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 60%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
    
    .about-list {
      margin-left: 10px;
      font-size: 16px;
      line-height: 22px;
      @include media(">=phone", "<lgphone") {
        text-align: left;
        //font-size: 11px;
        //line-height: 15px;
        margin-left: 0;
      }
      @include media(">=lgphone", "<tablet") {
        text-align: left;
        //font-size: 11px;
        //line-height: 22px;
        margin-left: 0;
      }
      @include media(">=tablet", "<desktop") {
        text-align: left;
      }
    }
    li {
      margin-bottom: 10px;
    }
    
  }
  .image-wrapper {
    width: 400px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 500px;//auto !important;
    @include media(">=phone", "<lgphone") {
      width: 100%;
      margin-left: 0px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      margin-left: 0px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      margin-left: 0px;
    }
    
  }
  img {
    height: 500px;
    @include media(">=phone", "<lgphone") {
      height: 350px;
    }
    @include media(">=lgphone", "<tablet") {
      height: 425px;
    }
    border-radius: 24px;
  }

}
