
.card{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .cardImg {
    width: 100%;
    height: auto;
    border-radius: 5%/8%;
    overflow: hidden;
    filter: drop-shadow(0px 3px 3px #80808028);
  }
  .cardImg:hover {
     filter: brightness(90%);
  }
  .content{
    width: 98%;
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    border-radius: 4%/20%;
    margin-top: 5px;
    h1 {
      font-size: 24px;
      line-height: 26px;
      color: rgb(36, 36, 36);
      margin-bottom: 0;
      margin-top: 20px;
      @include media(">=phone", "<lgphone") {
        font-size: 18px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 18px;
      }
    }
    h3 {
      margin-top: 5px;
      font-size: 13px;
      font-weight: 600;
      color: rgb(122, 122, 122);
      margin-bottom: 0px;
      opacity: 90%;
      @include media(">=phone", "<lgphone") {
        font-size: 13px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 13px;
      }
    }
    p {
      font-size: 15px;
      line-height: 18px;
      color: black;
      margin-bottom: 5px;
      @include media(">=phone", "<lgphone") {
        font-size: 13px;
        line-height: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
