.experience-container {
  width: 80vw;
  @include media(">=phone", "<lgphone") {
    width: 80vw;
  }
  @include media(">=lgphone", "<tablet") {
    width: 80vw;
  }
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  .content {
    h2 {
      font-size: 17px;
      font-weight: 400;
      text-align: right;
      margin-top: 0;
      @include media(">=phone", "<lgphone") {
        font-size: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 17px;
      }
    }
    h4 {
      font-weight: 400;
      @include media(">=phone", "<lgphone") {
        font-size: 14px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 14px;
      }
    }
    h3 {
      @include media(">=phone", "<lgphone") {
        font-size: 17px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 17px;
      }
    }
    p {
      font-size: 16px;
      line-height: 22px;
      @include media(">=phone", "<lgphone") {
        text-align: left;
        //font-size: 12px;
        line-height: 15px;
        margin-left: 0;
      }
      @include media(">=lgphone", "<tablet") {
        text-align: left;
        //font-size: 12px;
        line-height: 15px;
        margin-left: 0;
      }
      @include media(">=tablet", "<desktop") {
        text-align: left;
      }
    }
    .timeline {
      align-self: right;
    }
    .timeline-item-dateinner{
      @include media(">=phone", "<lgphone") {
        font-size: 12px !important;
        line-height: 30px;
        height: 30px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 12px !important;
        line-height: 30px;
        height: 30px;
      }
    }
    .timeline-item-date {
      @include media(">=phone", "<lgphone") {
        height: 30px;
        width: 90%;
  
      }
      @include media(">=lgphone", "<tablet") {
        height: 30px;
        width: 60%;
      }
    }
  }
  
}
