/*
.footer-container {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }
  .email-link {
    font-size: 1.5rem;
    color: black;
  }
  .social-icons {
    margin-top: 20px;
    img {
      height: 2rem;
      margin: 10px;
    }
  }
  span {
    margin-top: 10px;
  }
  icon {
    color: red;
  }
}

.footer-container {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  h2 {
    font-size: 1.5rem;
    // overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }
  .email-link {
    font-size: 1.5rem;
    color: black;
  }
  .linkedin {
    height: 1.5rem;
    margin: 10px;
  }
  .github {
    height: 1.5rem;
    margin: 10px;
  }
  .email {
    height: 1.3rem;
    margin: 10px;
  }
  img:hover {
    opacity: 70%;
  }
  span {
    margin-top: 10px;
  }
  icon {
    color: red;
  }
}
// .socials {
//   margin-top: 20px;
//   img {
//     height: 2rem;
//     margin: 10px;
//   }
// }*/

.footer-container{
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 8vh;
  text-align: center;

  .list-inline {
    display: inline;
    padding: 0;
    li {
      display: inline;
      text-align: center;
      padding: 1.1rem;
      img {
        height: 2rem;
        color: black;
        cursor: pointer;
        @include media ("<=tablet") {
          height: 1.8rem;
        }
      }
      img:hover {
        opacity: 75%;
      }
      
    }
  }

  p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 12px;
    @include media ("<=tablet") {
      font-size: 12px;
    }
  }
}
