
.project-link {
    color: black;
    margin-right: 6px;
}

.project-sc {
    max-width: 100%;
    border-radius: 16px;
    padding: 10px;
}

.git-icon {
    height: 18px;
}

.project-txt {
    margin-top: 5px;
    padding: 5px;
    font-weight: 450;
    opacity: 92%;
    font-family: "Montserrat";
}

@media only screen and (max-width: 500px) {
    .git-icon {
        height: 14px;
    }
    .project-txt {
        font-size: 14px;
    }
}

