.work-wrapper {
  width: 80vw;
  //margin-top: 10vh;
  margin-bottom: 3vh;
  @include media(">=phone", "<lgphone") {
    width: 80vw;
  }
  @include media(">=lgphone", "<tablet") {
    width: 80vw;
  }
  
  h2 {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    margin-top: 1;
    @include media(">=phone", "<lgphone") {
      font-size: 14px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 17px;
    }
    @include media(">=tablet", "<desktop") {
      text-align: center;
    }
  }

  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<825px") {
      grid-template-columns: 1fr;
    }
    @include media(">=825px", "<1250px") {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
