
li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-content {
    max-width: 750px;
    margin: 0;
    padding: 0;
}

.image {
    width: 350px;
}

.other-image {
    direction: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
}

.meow {
    max-width: 100%;
    border-radius: 25px;
}
