@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;450;500;550;600;650;700&family=Open+Sans&display=swap");

// Components
@import "./Navbar.scss";
@import "./Header.scss";
@import "./VerticalLinks.scss";
@import "./About.scss";
@import "./Experience.scss";

* {
    font-family: 'Montserrat';
}

body {
    background-color: #fffdf8;
}

.underline {
    background-image: linear-gradient(120deg, #C7D9F4 0%, #a4c8fe 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 105%;
}

.underline1 {
    background-image: linear-gradient(120deg, #C7D9F4 0%, #a4c8fe 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 90%;
}

.subtitle {
    font-size: 46px;
    font-weight: 650;
    opacity: 87%;
}

.text {
    font-size: 16px;
    font-weight: 550;
    opacity: 95%;
}
